body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 100px auto 0 auto; 
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container {
        margin: 50px auto;
    }
}

h1 {
    text-align: center;
	margin-bottom: 30px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#clickToCopy {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
}

.alert {
    display: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
    transform: translateX(-50%); /* This centers the alert horizontally */
}

.alert-hidden {
    display: none;
}

.alert-visible {
    display: block;
    animation: fadeout 3s forwards;
}

#copiedAlert {
    background-color: #4CAF50;
}

#urlAlert {
    background-color: #f44336;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
